<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="shikshalokamTest">
	<listeners>
		<listener class-name="com.shikshalokam.listners.IAnnotation" />
		<listener class-name="com.shikshalokam.listners.TestListeners" />

	</listeners>
	<test thread-count="5" name="Test" preserve-order="true"> 
    <classes>
	<!-- Sanity Suite:rowno 12-19 -->
      <class name="com.shikshalokam.utils.gSheet.TestData"/>
       <class name="com.shikshalokam.test.ObservationPageTest"/> 
      <class name="com.shikshalokam.test.ProgramDashboardTest"/>
      <class name="com.shikshalokam.test.ReportPageTest"/>
      <class name="com.shikshalokam.test.LoginPageTest"/>
    <!--  <class name="com.shikshalokam.test.observationTestcaseStaging.ObservationPageTest"/>    -->
      <class name="com.shikshalokam.test.AdminDashboardTest"/>
      <class name="com.shikshalokam.test.CoursePageTest"/>
      <!-- Regression Suite:rowno 12-19 -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
